:root {
  --purple:#642C99;
  --white:#FFF;
  --yellow:#FDEFD1;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size:120px;
}
.font{
    color:var(--purple);
    font-family: Wendy One;
font-style: normal;
font-weight: 400;
line-height: normal;
}
p{
color:var(--purple);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.largebtn{
width: 206px;
height: 43px;
border-radius: 8px;
background:var(--purple);
color:var(--white)
}
.wholePage{
    background: url('images/bg\ 1.png'), lightgray 50% / cover no-repeat;
    width:100%;
    display:flex;
    flex-direction: column;
    gap:40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.navHeading{
color:var(--purple);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.navLeft{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 10px
}
.navRight{
    display:flex;
    justify-content: flex-end;
}
.padding{
    padding: 20px 19px;
}
.page2{
display: flex;
padding:var(--horizontal-padding);
justify-content: center;
align-items: center;
}
.subclass{
display: flex;
padding: 100px 0px;
flex-direction: column;
align-items: center;
}
h2{
    font-size:90px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.leftContent{
   width:35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    
}

.pic{
    background-image: url('images/image\ 95.png');
    width:37rem;
    height: 700px;
    background-repeat: no-repeat;
}
.chocolate img{
   height:584px;
   width:500px;
}

.box{
    display:flex;
    border:3px solid var(--purple);
    justify-content: center;
    align-items: center;
    gap:28px;
    padding:2px;
    border-radius:2px;
}
h3{
    font-size:32px;
}
.buttons{
    display:flex;
    gap:5px;
    justify-content: space-evenly;

}
.btn{
    width:106px;
    height:43px;
    border-radius:18px;
    color:var(--purple);
    background-color: var(--yellow);

}
.largemargin{
    padding:132px 0px;
}
.margin{
    margin:20px 0px;
}
.container3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
}
.leftContent1{
    /* width: 632px; */
       width:35vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
       padding-bottom:270px
    
    }
.sec4img{
    
    text-align:center;
    max-width:400px;
}
.sec4img img{
    width:100%;
    height:auto;
    padding-top:225px;
}
.extraMargin{
    margin:691px 0px;
}
.leftBox{
    display:flex;
    flex-direction:column;
}
.reference{
display:flex;
flex-direction:column;
gap:5px;
}
.rightBox{
    display:flex;
    flex-direction:column;
    gap:91px;
}
.reference{
    display:flex;
    flex-direction:column;
    gap:3px;

}
.ref{
    display:flex;
    gap:67px;
    flex-direction:column;
}
.firstpart{
    display:flex;
    flex-direction: column;
    gap:22px;
}
.secondpart{
    display:flex;
    gap:55px;
}
.alignitems{
    display:flex;
    justify-content:center;
    gap:350px;
    margin:auto;
}
.leftBox p{
    color:var(--yellow)
}
.rightBox p{
    color:var(--yellow);
    display:flex;
    gap:119px;
}
.input{
    width:300px;
    height:43px;
    border-radius:6px;
}
.headerSection{
    max-width:661px;
    max-height: 177px;
}
.alignContent{
    max-width:90%;
    margin:auto;
}
.bgcolor{
    background-color: var(--purple);
}

.cards{
    display:grid;
    grid-template-columns: repeat(3,4fr);
    margin:200px 0px;
    gap:193px;
}
.card{
    display:flex;
    flex:1;
    min-width:184px;
    flex-direction: column;
    justify-content: center;
    gap:35px;
    text-align:center
}
.card img{
    max-width:100%;
    align-self: center;
}
.collapse-navbar{
    opacity:0;
}
@media (max-width:1000px){
    .pic{
        height: 716px;
        background-image: url('images/image\ 55.png');
        background-repeat: no-repeat;
        max-width:365px
    }
    .leftContent{
        max-width:519px;
    }
    h1{
        font-size:100px;
    }
    h2{
        font-size:70px
    }
    .chocolate img{
        width: 322px;
        height: 399px;
    }
    .largemargin{
        padding:141px 0px 0px 0px;
    }
    .cards{
        display:grid;
        grid-template-columns: repeat(2,4fr);
        gap:27px;
        margin:59px 0px;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
        text-align: center;
        box-sizing: border-box;
    }
    .sec4img{
    
        text-align:center;
        max-width:325px;
    }
    .leftContent1{
           width:70vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 35px;
           padding-bottom:0px
        
        }
        .alignitems{
            gap:256px;
        }
    }

@media(max-width:700px){
    .container2{
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        
    }
    .largemargin{
        padding:100px 0px;
    }
    .pic{
        display:flex;
        background-image: url('images/image\ 56.png');
        background-repeat: no-repeat;
        height:356px;
        justify-content: flex-end;
        margin-right:10px;
        max-width:266px;
        align-self: flex-end;
    }
    .leftContent{
        width:336px;
    }
    .chocolate img{
        width: 301px;
        height: 372px;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size:40px
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size:13px;
    }
    .largebtn{
        width:150px;
    }
    .container3{
        flex-wrap: wrap;
    }
    .sec4img img{
        width:100%;
        height:auto;
        padding-top:0px;
    }
    .alignitems{
        flex-direction: column;
        gap:126px;
    }

    
}
@media(max-width:485px){
    h2{
        font-size:45px;
    }
    h3{
        font-size: 20px;
    }
    .largemargin{
        padding:32px 0px;
    }
    .cards{
        display:grid;
        grid-template-columns: repeat(1,4fr);
        gap:5px;
        margin:0px 0px
}
.card img{
    max-width:112px;
    align-self: center;
}
.card{
    gap:16px;
}
.alignitems{
    gap:0px;
}
.rightBox{
    gap:42px;
}
.navLeft{
    opacity:0;
    position:absolute;
}
.collapse-navbar{
    opacity:1;
    position:static;
}
}

